@inherits LayoutComponentBase

<PageTitle>Classic Calculator</PageTitle>

<div class="page">
    <div class="container">
        @Body
    </div>
</div>

<style>
    .page {
        padding: 20px;
    }
</style>

